/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Raleway);

#abc{
width: 100%;
height: 100%;
opacity: 0.95;
top: 0;
left: 0;
display: none;
position: fixed;			
background-color: #313131;
overflow:auto;

}

img#close{
position: absolute;
right: -14px;
top: -14px;
cursor: pointer;
}

div#popupContact{
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: "Raleway",sans-serif;
}

div #popform{
max-width: 300px;
min-width: 250px;
padding: 10px 50px;
border: 2px solid gray;
border-radius: 10px;
font-family:raleway;
background-color: white;
}

p{
margin-top: 30px;
}

#h2{
background-color: #FEFFED;
padding: 20px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
}

hr{
margin: 10px -50px;
border: 0; 
border-top: 1px solid #ccc;
}
 

#category{
width:100%;
padding: 10px;
margin-top: 30px;
border: 1px solid #ccc;
padding-left: 10px;
font-size: 16px;
font-family:raleway;
//background-image: url('../images/name.jpg');
//background-repeat: no-repeat;
//background-position: 5px 7px;
}

#submit{
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color: white;
border: 1px solid #FFCB00;
padding: 10px 0;
font-size:15px;
cursor:pointer;
border-radius: 5px;

}



/*popup, popupedit{*/
/*width:10%;*/
/*height:45px;*/
/*border-radius:3px;*/
/*background-color: peru;*/
/*color:white;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-size:18px;*/
/*cursor:pointer;*/
/*}*/

/*body div.ch-container div.row div#content.col-lg-10.col-sm-10 div.row div.box.col-md-12 div.box-inner div.box-content.news div.box-inner.col-md-6 button.paper{*/
    /*position:absolute;*/
    /*left:120px;*/
    /*top:80px;*/
    /*width: 250px;*/
    /*height: 100px;*/
    /*background-color: #0e83cd;*/

/*}*/

/* Button 3 */
.btn-3 {
    position:absolute;
    left:120px;
    top:80px;
    width: 250px;
    height: 100px;
    background: #0e83cd;
    color: #fff;
}

.btn-3:hover {
    background: #4590f4;
}

.btn-3:active {
    background: #4590f4;
    /*top: 2px;*/
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    /*width: 60px;*/
}

/* Button 3b */
.btn-3b {
    /*padding: 25px 60px 25px 120px;*/
    border-radius: 10px;
}

.btn-3b:before {
    border-right: 2px solid rgba(255,255,255,0.5);
}


